@import url('https://fonts.googleapis.com/css2?&family=Martel:wght@200&family=Source+Sans+Pro&family=Open+Sans:wght@300&family=Montserrat:wght@300&display=swap');


:root {
    --primary: #C5FFFD;
    --primary-2: #415A77;
    --light: #fff;
    --lightaccent: #F1F2F6;
    --shade: #0D1B2A;
    --shadeaccent: #1B263B;
    --font-1: 'Martel', serif;
    --font-2: 'Montserrat', sans-serif;
    --font-3: 'Open Sans', sans-serif;
    --font-4: 'Source Sans Pro', sans-serif;
}

/* CORRESPONDS WITH SECTIONS IN THE HTML*/

/*NAVIGATION*/

body {
    background-color: var(--light);
}

header:hover {
    box-shadow: 0vw 0vw 0.9vw 0.5vw #888888;
    transition: 0.1s;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.container_2 {
    width: 60%;
    margin: 0 auto;
    display: block;
}

header p {
    float: left;
    font-size: 3vw;
    margin: 2vw 0;
    font-family: var(--font-2);
    color: var(--shade);

}

nav {
    float: right;
    font: sans-serif;
    font-family: var(--font-2);

}

nav li {
    display: inline-block;
    margin-left: 4vw;
    padding-top: 2.5vw;
    position: relative;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--shade);
    border-top: solid #F1F2F6 0.2vw;
    transition: padding-top 100ms;
    font-size: 2vw;
}

nav a:hover {
    padding-top: 0.5vw;
    border-top: solid #000 0.2vw;
}

/*Page 1*/

.General {
    width: 100%;
    padding-top: 5vw;
    border-top: solid var(--lightaccent);
    margin-bottom: 38vw;
}

.General p {

    font-size: 2vw;
    font-family: var(--font-3);
    color: var(--shade);
}

.General_2 {
    width: 100%;
    padding-top: 5vw;
    border-top: solid var(--lightaccent);
}

.General_2 p {

    font-size: 2vw;
    font-family: var(--font-3);
    color: var(--shade);
}


.left-welcome {
    float: left;
    text-align: center;
    width: 50%;
}

.desc {
    margin-top: 9vw;
    line-height: 1.65;
}

.right-welcome {
    float: right;
    clear: right;
    text-align: center;
    width: 50%;
}

.myImg {
    border-radius: 300vw;
    box-shadow: 1vw 1vw 1vw -1vw #000;
    width: 30vw;
}

.icons {
    margin-top: 2vw;
}

.icons img {
    width: 3vw;
    margin: 2.5vw;
}

iframe {
    width: 100%;
    height: 60vw;
}

.banner {
    width: 100%;
    height: 33vw;
    object-fit: fill;
    overflow: hidden;
}

h1 {
    font-size: 4vw;
    margin-bottom: 3vw;
    font-family: var(--font-4);
    text-decoration: underline;
    color: var(--shade);
}

h2 {
    font-size: 3.4vw;
    font-family: var(--font-2);
    margin-bottom: 1vw;
}

h3 {
    font-size: 2.5vw;
    font-family: var(--font-3);
    width: 60%;
    margin-left: 15vw;
}

h4 {
    font-size: 3vw;
    margin-bottom: 1vw;
    font-family: var(--font-1)
}

h5 {
    font-size: 1.5vw;
    font-family: var(--font-3)
}

label {
    font-size: 1.2vw;
    font-family: var(--font-1);
}

input {
    margin-top: 2vw;
    border: 0px solid;
    border-bottom: 0.1vw solid;
}

input.submit {
    font-family: var(--font-1);
    font-size: 2vw;
    width: 100%;
}

.submit:hover {
    background-color: #E5D4ED;
}

.submit {
    padding: 1vw 6vw 1vw 6vw;
    border-radius: 0.6vw;
    margin-bottom: 1vw;
}

.container_2 > .reminder > ul {
    text-align: center;
    font-family: var(--font-3);
    font-size: 2vw;
}

.container_2 > .reminder > ul > a {
    text-decoration: none;
    color: var(--shade);

}

.container_2 > .reminder > ul > a > li:hover {
    background-color: #E5D4ED;
    border-radius: 3vw;
}

div.gallery {
    border: 0.1vw solid #ccc;
}

div.gallery:hover {
    border: 0.1vw solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}


div.desc {

    text-align: center;
    font-family: var(--font-2);
    color: var(--shade);
    font-size: 1vw;
}

.responsive {
    padding: 0.4vw;
    float: left;
    width: 28.99999%;
    margin-left: 2vw;
    margin-top: 2vw;
    margin-bottom: 3vw;
}

@media screen and (max-width: 700px) {

    .left-welcome,
    .right-welcome {
        width: 100%;
        /* The width is 100%, when the viewport is 800px or smaller */
    }

    .myImg {
        width: 60vw;
        margin-top: 7vw;
    }

    .General p {
        font-size: 4vw
    }


    h1 {
        font-size: 7vw;
    }

    h2 {
        font-size: 5.5vw;
    }

    h3 {
        font-size: 4vw;
    }

    p {
        font-size: 2.8vw;
    }

    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }

    nav a {
        font-size: 4.2vw;
    }

    header p {
        font-size: 7vw;
        margin: 2vw 0 2vw 14vw;
    }

    .General p {
        font-size: 5vw;
    }

    div.desc {
        font-family: var(--font-4);
    }

    label {
        font-size: 3vw;
    }

    h4 {
        font-size: 5.2vw;
        margin-bottom: 3vw;
        text-align: center;
    }

    h5 {
        font-size: 3vw;
        text-align: center;
    }

    .container_2 {
        width: 70%;
        margin-top: 6vw;
    }

    .submit {
        padding: 3% 42% 3% 41%;
        border-radius: 1vw;
        margin-top: 3vw;
    }

    .container_2 > .reminder > ul {
        text-align: center;
        font-family: var(--font-3);
        font-size: 3vw;
    }

    .icons img {
        width: 7vw;
        margin: 3vw;
    }
}

.General a:hover {
    background-color: var(--shadeaccent);
    transition: 400ms;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.logo {
    width: 10vw;
    margin: 4vw;
}

.reminder {
    width: 100%;
    text-align: center;
}

footer {
    max-height 5vw;
    padding: 6vw 3vw 0vw 3vw;
    background-color: #1B263B;
    color: var(--light);
}

footer > p {
    text-align: right;
}

form {
    margin-bottom: 5vw;
}

/*Footer Formatting code*/
* {
    box-sizing: border-box;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 1vw;
    height: 20vw;

    /* Should be removed. Only for demonstration */
}

.left,
.right {
    width: 25%;
}

.middle {
    width: 40%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    margin-bottom: 2vw;
}

/**********************Navigation IDs*/

#Transcription {}

#Arrangement {}

#Composition {}
